name: Periodically update the list of active usernames

on:
  schedule:
    - cron: 0/10 * * * *

jobs:

  ci-active:
    runs-on: ubuntu-latest
    container: fedora:latest
    steps:
      - name: Install the development dependency package
        run: |
             sudo dnf install gcc git krb5-devel krb5-workstation poetry python3-devel python3-pip --assumeyes
      - name: Configure Git before starting off with any Git related operations
        run: |
             git config --global --add safe.directory $(realpath .)
             git config --global user.email ${{ secrets.USERMAIL }}
             git config --global user.name ${{ secrets.USERNAME }}
      - name: Clone the project repository locally and make it the current working directory
        run: |
             git clone https://${{ secrets.GTHBUSER }}:${{ secrets.GHBTOKEN }}@github.com/t0xic0der/fuas.git /__w/fuas/fuas
      - name: Install the project assets in the root directory
        run: |
             poetry config virtualenvs.create false
             poetry install
      - name: Fetch the list and count of active usernames from Datagrepper
        run: |
             # fuas activity
             echo "$(date +%Y%m%d-%H%M%Z)" > /var/tmp/actvfile
             echo "$(date +%Y%m%d-%H%M%Z)" > /var/tmp/acqtfile
      - name: Pull the most recently made changes before moving in the modified files
        run: |
             git pull origin main
      - name: Copy over the file to the project directory
        run: |
             cp /var/tmp/actvfile /__w/fuas/fuas/data/actvfile
             cp /var/tmp/acqtfile /__w/fuas/fuas/data/acqtfile
      - name: Commit the changes to the local repository
        run: |
             git commit -asm "$(date +%Y%m%d-%H%M%Z): $(cat /__w/fuas/fuas/data/acqtfile) username(s) active"
      - name: Push the new changes to the remote repository
        run: |
             git push origin main
